#root {
  margin: 0 auto;
  text-align: center;
}

Geography:default {
  outline: "none";
  fill: "#D6D6D6";
}

Geography:hover {
  outline: "none";
  fill: "#EEEEEE";
}

Geography:pressed {
  outline: "none";
  fill: "#A6A6A6";
}